 <div class="div bg-body-secondary text-center py-5 rounded-2">
    <h1 class="display-6 fw-bold">
      Payment detail register
    </h1>
 </div>
 <div class="row mt-5">
  <div class="col-6">
    <app-payment-detail-form />
  </div>
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">CardOwnerName</th>
          <th scope="col">CardNumber</th>
          <th scope="col">ExpirationDate</th>
          <th scope="col">SecurityCode</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let payment of service.list">
          <th scope="row">{{payment.id}}</th>
          <td>{{payment.cardOwnerName}}</td>
          <td>{{payment.cardNumber}}</td>
          <td>{{payment.expirationDate}}</td>
          <td>{{payment.securityCode}}</td>
          <td><i class="fa-solid fa-trash-can" (click)="onDelete(payment.id)" ></i> </td>
        </tr>
      </tbody>
    </table>
  </div>
 </div>
